$tagline-bg: #fff !default;
$tagline-bg-gradient: linear-gradient(rgba(#fff, 0) 0%, rgba(#fff, .75) 50%, rgba(#fff, 1) 100%) !default;
$tagline-color: #666 !default;

.front {
  .block-search-tagline {
    bottom: 0;
    padding: 1rem 0;
    z-index: 20;
    width: 100%;
    background: $tagline-bg;
    @media only screen and (min-width: 768px) {
      background: $tagline-bg-gradient;
      position: absolute;
      bottom: 130px;
      padding: 3rem 0 1rem;
    }
    // Slideshow slogan
    .slideshow-slogan {
      [class*='slogan-'] {
        color: $tagline-color;
        font-weight: 500;
        text-align: center;
        text-transform: uppercase;
        font-style: normal;
        line-height: 1.4;
        text-rendering: optimizeLegibility;
      }
      .slogan-primary {
        letter-spacing: .03em;
        font-size: 1.2rem;
        font-weight: 600;
        @media only screen and (min-width: 768px) {
          font-size: 1.8em;
        }
        margin: 0;
      }
      .slogan-secondary {
        margin: 0;
        font-size: 1.2rem;
        font-weight: 600;
        @media only screen and (min-width: 768px) {
          font-size: 1.25rem;
        }
      }
    }
  }
}
